$buttons-color:#fda500;
$icons:#fed50b;
$portfolio-background:#e4e4e4;
//nav & header 
button{
    background-color: $buttons-color;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
}
header{
    z-index: 0;
    position: relative;
    display: flex;
    width: 100%;
    padding: 25% 0;
    height: auto;
   color: aliceblue;
    background: url("/images/1.jpg");
    background-size: cover;
    backdrop-filter: gray;
    justify-content: space-around;
    align-items: center;
}
.header-box{
    align-items: center;
    text-align: center;
}
#hello{
    display: block;
}

//services
i{
    font-size: 45px;
    color: $icons;
}
.services {
    margin: 10% 10%;
    text-align: center;
}
.services-boxs{
margin: 5% 0;
display: flex;
justify-content: center;
}

//portfolio
.portfolio{
    padding: 10% 0%;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: $portfolio-background;
}
.portfolio-boxs{
    margin: 5%;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.portfolio-box{
    border: solid black 1px;
    height: 300px;
    width: 300px;
    background-color: white;
}

.portfolio-box>img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}